/* ------------------header------------------- */
header{
	width:100%;
	height: 126px;
}
.line{
	width:100%;
	height: 4px;
	background-color: #FFCB00;
}
.content{
	width:1200px;
	height:67px;
	margin:0 auto;
}
.contentLeft{
	width:216px;
	height: 24px;
	padding-top:6px;
	float:left;
}
.contentLeft a{
	float:left;
	line-height: 24px;
	font-size: 12px;
	color:#001022;
}
.NavA{
	width: 72px;
	height: 24px;
	background: url(../img/lineRight.jpg) no-repeat 59px center;
}
.bgA{
	width: 36px;
	height: 24px;
}
.contentRight{
	width:150.22px;
	padding-top: 6px;
	height: 24px;
	float:right;
}
.LoginBox{
	width:70.66px;
	height: 24px;
	line-height: 24px;
	float:left;
}
.Login{
	float:left;
}
.Register{
	float:right;
}
.contentRight a{
	font-size: 12px;
	color:#001022;
}
.GoodCar{
	width:76px;
	height: 24px;
	float:right;
	position: relative;
}
.GoodCarLine{
	width:20px ;
	height: 24px;
	float:left;
	background: url(../img/lineRight.jpg) no-repeat 7px center;
}
.GoodCar a{
	float:left;
	width:40px;
	line-height: 24px;
}
.GoodCarIcon{
	text-align: center;
	width: 36px;
	height: 22px;
	float:left;
	background: url(../img/Car.png) no-repeat;
	background-size: 14px 17px;
	line-height: 14px;
	background-position: 42px 2px;
	padding-right: 20px;
}
.number{
	width:15px;
	height: 15px;
	border-radius: 50%;
	background-color:rgba(255, 203, 0, 1);
	position: absolute;
	top:10px;
	right:-5px;
}
#goods-total-nums{
	position: absolute;
	display: block;
	font-size: 10px;
	top:1px;
	right:2px;
}
.Logo{
	position:absolute;
	top:22px;
	margin-top:2px;
	left:532px;
}
.Logo img{
	width: 202px;
	height: 45px;
}
nav{
	width: 1200px;
	height:35px;
	margin:0 auto;
	margin-top:20px;
}
.navLeft{
	height: 35px;
	width:760px;
	float:left;
}
.navLeft a{
	float:left;
	width:94px;
	font-size: 14px;
	color:#111;
	padding-top: 5px;
	padding-bottom: 10px;
}
/* --------------吸顶效果------------------ */
.ScrollTopBox{
	display: none;
	width:100%;
	height: 50px;
	background-color: white;
	box-shadow: 0px 1px 3px 1px rgba(20, 28, 35, 0.1);
	border-top:4px solid #FFCB00;
	/* 调高层级 */
	z-index: 99999;
	display: fixed;
}
.ScollTop{
	width:1200px;
	padding-top: 8px;
	height: 42px;
	background-color: white;
	margin:0 auto;
	position: relative;
}
.homeIcon{
	width:125px;
	height:30px ;
	float:left;
	margin-right: 45px;
}
.Fruit{
	position: absolute;
	top:0;
	left:-90px;
}
.person{
	position: absolute;
	top:17px;
	right: 46px;
}
.package{
	position: absolute;
	top:13px;
	right:0;
}
.ScroCar{
	position: absolute;
	top:2px;
	right:0;
}
/* --------------二级菜单------------------ */
.second,.second1{
	display: none;
	width:100%;
	height: 370px;
	background-color: white;
	position: fixed;
	/* z-index必须在定位下生效 */
	z-index: 999;
	top:56px;
	left:0px;
}
.SecondNav{
	width:1200px;
	height: 370px;
	margin:0 auto;
	background-color: white;
	position: relative;
	display: none;
}
.SecondBox,.SecondBox1{
	width:1200px;
	height:370px;
	position: absolute;
	top:0;
	left:0;
	display: none;
}
.FirstRow{
    width:101px;
	height: 332px;
	padding:38px 35px 0px 0;
	float:left;
}
.SecondNav .skin{
	display: block;
	color:#001022;
	font-size:14px ;
	line-height: 14px;
	margin-bottom: 27px;
	font-weight: 500;
}
.SecondRow{
	width:113px;
	height: 332px;
	padding:38px 40px 0px 60px;
	float:left;
}
.SecondNav .product{
	display: block;
	color:#001022;
	font-size:14px ;
	line-height: 14px;
	margin-bottom: 27px;
	font-weight: 500;
}
.SecondBox a{
	font-size: 12px;
	color:#001022;
	line-height: 12px;
}
.SecondBox1 a{
	font-size: 12px;
	color:#001022;
	line-height: 12px;
}
.SecondBox li{
	margin-bottom: 12px;
}
.SecondBox1 li{
	margin-bottom: 12px;
}
.ThirdRow{
	width:73px;
	height: 332px;
	padding:38px 80px 0px 60px;
	float:left;
}
.SecondNav .series{
	display: block;
	color:#001022;
	font-size:14px ;
	line-height: 14px;
	margin-bottom: 27px;
	font-weight: 500;
}
.ProductIcon{
	width:219px;
	height: 293px;
	float:left;
	position: absolute;
	top:30px;
	right:109px;
}
.ShareIcon,.ShareIcon1{
    position: absolute;
	top:20px;
	left:20px;
	width:540px;
	height: 319px;
}
.ShareImage{
	text-align: center;
}
.secondImagList{
	width:100%;
	height: 462px;
}
.ImageList{
	width:1200px;
	height: 409px;
	padding-top: 26px;
	padding-bottom:27px;
	margin:0 auto;
	clear:both;
	box-shadow: 0px 17px 16px -15px rgba(20, 28, 35, 0.1);
}
.ImageBox{
	width:169px;
	height: 62px;
	float:left;
	margin-right: 130px;
	margin-bottom:20px;
}
.ImageIcon{
	width:100px;
	height: 100%;
	margin-right: 9px;
	float:left;
}
.ImageText{
	line-height: 14px;
	font-size: 14px;
	color:#111111;
	padding-top: 24px;
	font-weight: 800;
}
/*--------------- 搜索----------- */
.search{
	position: relative;
}
table{
	width:164px;
	height: 34px;
	background-color: #FFCB00;
	float: right;
}
input{
	font-size:14px;
	width:149px;
	height: 34px;
	padding-left: 15px;
	border:none;
	background-color: #FFCB00;
}
.searchBtn{
	cursor: pointer;
	position: absolute;
	top:10px;
	right:17px;
}
/* -------------------------banner-------------- */
.slice{
	width: 1920px;
	height: 450px;
	overflow: hidden;
	position:relative;
	/* 为了让图片在中间显示 */
	left: -322.5px;
}
.sliceBox{
	width: 99999px;
	height: 450px;
	position: relative;
	display: flex;
	left: -1920px;
}
.bannerDot{
	width: 100%;
	height: 12px;
	margin-top: 29px;
	margin-bottom: 56px;
}
.dotBox{
	width:80px;
	height: 8px;
	margin: 0 auto;
	padding-top:2px;
	padding-bottom: 2px;
}
.dot{
	width:8px;
	height: 8px;
	border-radius: 50%;
	background-color:#666666;
	float:left;
	margin-right: 12px;
}
.firstDot{
	background-color:#FFCB00;
}
/* ---------------------产品------------ */
.ImageListBox{
	width: 100%;
	height:292px;
}
.ProductBody{
	width:1200px;
	height: 292px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.ProductBigBody{
	width: 586px;
	height: 290px;
	border:1px solid #e5e5e5;
}
.ProductBigBody img{
	float:left;
}
.smallBox{
	width:246px;
	padding-top:20px;
	height: 270px;
	float:left;
}
.smallBox img{
	display: block;
	margin-left:58px;
	margin-bottom:22px;
	margin-right:68px ;
	width: 120px;
	height: 120px;
}
.handSeri{
	width:100%;
	height:143px ;
}
.smallBox a{
	display: block;
	width:100%;
	height: 18px;
	font-size:16px;
	color:#001022;
	text-align: center;
	line-height: 16px;
	padding-bottom: 11px;
}
.smallBox p{
	display: block;
	width:100%;
	height: 16px;
	font-size:16px;
	color:#001022;
	text-align: center;
	line-height: 16px;
	padding-bottom: 17px;
}
.Salebtn{
	padding-top: 14px;
	width:140px;
	height: 26px;
	margin: 0 auto;
	text-align: center;
	background-color:#ffcb00 ;
	font-size: 12px;
	line-height: 12px;
	font-weight: 500;
	
}
/* --------------------------------hot------------- */
.hotBox{
	width:100%;
	height: 585px;
}
.hot{
	width:1200px;
	height: 585px;
	margin:0 auto;
}
.hotTitle{
	width:100%;
	height: 179px;
}
.hotStar{
	width:100%;
	height:345px ;
	padding-bottom: 63px;
	display: flex;
	/* 设置盒模型 */
	box-sizing: content-box;
	overflow: hidden;
}
.hotStar1{
	width:100%;
	height:345px ;
	padding-bottom: 63px;
	display: flex;
	display: none;
}
.hotStarBox{
	width:251px;
	height: 345px;
	padding-right: 50px;
	flex-shrink: 0;
}
.starBox{
	width:100%;
	height: 200px;
	position: relative;
}
.hotIcon{
width:40px;
height:40px;
float:left;
}
.hotPic{
	width:200px;
	height:200px;
	float:right;
}
.hothot{
	float:left;
}
.hotStarBox a{
	display: block;
	width:100%;
	height: 16px;
	font-size:16px;
	color:#001022;
	line-height: 16px;
	padding-top: 24px;
	text-indent: 76px;
}
.hotStarBox p{
	display: block;
	width:100%;
	height: 14px;
	font-size:14px;
	color:#001022;
	line-height: 14px;
	padding-top: 15px;
	text-indent: 114px;
	margin-bottom:35px;
}
.Starbtn{
	padding-top: 14px;
	width:140px;
	height: 26px;
	margin: 0 auto;
	text-align: center;
	background-color:#ffcb00 ;
	font-size: 12px;
	line-height: 12px;
	font-weight: 500;
	margin-left: 81px;
}
.leftArrow{
	position: absolute;
	left:0px;
	top:150px;
}
.rightArrow{
	position: absolute;
	left:279px;
	top:150px;
}
/* --------------------------------gift------------- */
.GiftBox{
	width:100%;
	height: 549px;
}
.Gift{
	width:1200px;
	height: 549px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}
.giftSmBox{
	width:373px;
	height: 448px;
	border:1px solid #e5e5e5;
}
.giftDes{
	width:100%;
	height: 174px;
	padding-top:36px ;
}
.giftH{
	font-size: 22px;
	color: rgba(0, 16, 34, 1);
	line-height: 22px;
	text-align: center;
	margin-bottom: 34px;
}
.giftP{
	font-size: 12px;
	line-height: 12px;
	color: rgba(85, 85, 85, 1);
	text-align: center;
	margin-bottom: 48px;
}
.giftDetail{
	color: rgba(0, 16, 34, 1);
	font-weight: 400;
	font-size: 12px;
	text-align: center;
	height:22px;
	background: url(../img/yline.jpg) no-repeat 162px 20px;
}
/* --------------------------------club------------- */
.clubBox{
width:100%;
height: 465px;
}
.club{
width:1200px;
height: 465px;
margin:0 auto;
}
/* --------------------------------house------------- */
.houseBox{
width:100%;
height: 318px;
}
.house{
width:1200px;
height: 318px;
margin:0 auto;
border:1px solid #e5e5e5;
}
.houseIcon{
	float:left;
}
.houseDes{
	width:300px;
	height: 221px;
	float:right;
	padding:40px 40px 57px 40px;
}
.houseH{
	font-size:22px;
	color:rgba(0, 16, 34, 1);
	line-height: 22px;
	margin-bottom: 32px;
}
.houseP{
	font-size:2px;
	color:rgba(85, 85, 85, 1);
	line-height: 20px;
	margin-bottom:39px;
}
.location{
	padding-top: 14px;
	width:140px;
	height: 26px;
	margin: 0 auto;
	text-align: center;
	background-color:#ffcb00 ;
	font-size: 12px;
	line-height: 12px;
	font-weight: 500;
	margin-left: 81px;
}
/* --------------------------------custom------------- */
.customBox{
width:100%;
height: 286px;
}
.cursom{
	width:1200px;
	height: 148px;	
	padding-top:78px;
	padding-bottom:60px;
	margin:0 auto;
}
.customH{
	height: 45px;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	color: rgba(0, 16, 34, 1);
	background: url(../img/customLine.jpg) no-repeat 574px 44px;
	margin-bottom: 22px;
}
.customP{
	text-align: center;
	line-height: 26px;
	font-size: 14px;
	color: rgba(0, 16, 34, 1);
}
/* --------------------------------footer------------- */
footer{
	width:100%;
	height: 165px;
	}
.footerBox{
	width:1200px;
	height: 165px;	
	margin:0 auto;

}
.footNav{
	width:1058px;
	height:87px ;
	padding-left:142px;
	border-top: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
}
.footNav a{
	line-height: 87px;
	display: block;
	color: #001022;
	font-weight: 400;
	font-size:12px;
	margin-right: 50px;
	float:left;
}
.copy{
	width:984px;
	height: 28px;
	padding-top:17px;
	padding-left: 216px;
	text-align: center;
	position: absolute;
}
.police{
	float:left;
	position: relative;
	top:-10px;
}
.copy a{
	float:left;
	font-weight: 400;
	color: rgba(0, 16, 34, 1);
	font-size: 12px;
	line-height: 12px;
}
.contactBox{
	width:100%;
	height:30px ;
	background-color:#ffc900;
}
.contact{
	width:1200px;
	height:30px ;
	margin: 0 auto;
}
.scrollCon{
	display: block;
	width:600px;
	height: 25px;
	float:left;
	padding-top: 5px;
}
.TextScroll{
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	color: rgba(17, 17, 17, 1);
}
.concatDot{
	width:25px;
	height: 30px;
	float:left;
	background: url(../img/dot.jpg) no-repeat center;
	background-position: 13px 15px;
}
.detail{
	display: block;
	width:54px;
	height: 30px;
	float:left;
	font-size: 12px;
	font-weight: 400;
	color: rgba(17, 17, 17, 1);
	line-height: 30px;
}
.online{
	width:346px;
	float:right;
	height: 26px;
	padding-left: 175px;
	padding-top: 7px;
	position: relative;
}
.online p{
	font-size: 12px;
	color:#111111;
} 
.onCon{
	float:left;
	position: absolute;
	top:9px;
	left:150px;
}
.onConP{
	float:left;
	margin-right: 72px;
}
.onQus{
	float:left;
	margin-right:10px ;
	position: absolute;
	top:9px;
	left:272px;
}
.onWeChat{
	float:left;
	position: absolute;
	top:9px;
	left:389px;
}
.onWe{
	float:left;
	position: absolute;
	top:9px;
	left:469px;
}
/* 添加底部的定位 */
.contactBox{
	position:fixed;
	bottom: 0px;
	top:100%;
	margin-top: -30px;
}
.FixedBox{
	width:100%;
	height:30px ;
	background-color:#ffc900;
}

